//
   Created by nate on 5/27/15.

extends layout

block content
    h1 Become a Client

    script(src="http://developer.reappt.io/clients/js/diffusion.js")
    script.
        if(usingJade) {
            console.log("blah");
        } else {
            console.log("rawr");
        }
